* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(183, 226, 255);
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.titulo {
    font-size: 25px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(36, 88, 112);
}

.background {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100vh;
    filter: brightness(40%);
    z-index: -1;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.musicas {
    padding: 10px;
}

.spotify{
    display: flex;
    align-items: center;
    text-align: center;

}

